@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


html {
    background-color: rgb(0, 0, 0);
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: white;
}

/* headings and logo */

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* nav links */

#meniu, #logo {
    line-height: 75px;
}

#meniu {
    font-size: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}


#meniu li {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    list-style-type: none;
}

#meniu a {
    text-decoration: none;
    color: inherit;
}

.btn {
    width: 90px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
.btn::before, .btn::after {
    position: absolute;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
.btn::before {
    height: 50px;
    width: 150px;
  }
  
.btn::after {
    width: 150px;
    height: 50px;
  }
  
  
.btn:hover::before {
    width: 0px;
    background: rgb(0, 0, 0);
  }
  
.btn:hover::after {
    height: 0px;
    background: rgb(0, 0, 0);
  }
  
.btn:hover {
    background: rgb(0, 0, 0);
  }

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
  }

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;


/* animates zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
  }

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
      transform: scale(1.1);
    }

    to{
      transform: scale(1);
    }
  }

/* text */

#text {
    height: 400px;
  }

#left-about {
    padding-top: 30px;
    width: 45%;
    float: left;
  }

#right-about {
    padding-top: 30px;
    width: 45%;
    float: right;
  }

hr {
    border-top: 1px solid white;
    width: 100%;
    margin: 5px 0;
  }

.left-about-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
  }

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
  }

.right-about-heading h2 {
    text-align: right;
  }

.right-about-heading p {
    text-align: right;
  }

#welcome {
    text-align: center;
    margin: 25px 0;
    font-size: 280%;
  }

/* videos */

#videos {
    width: 100%;
    text-align: center;
    padding-block: 10px;
  }

.videos-container {
    width: 290px;
    height: 210px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 3%;
    display: inline-block;
    margin: 2%;
  }

video {
    width: 290px;
    height: 190px
  }

/* footer */

footer {
    height: 250px;
    background-color: white;
  }

.copyright {
    text-align: center;
    color: black;
    font-style: inherit;
    text-transform: uppercase;
  }

.social-networks {
    text-align: center;
  }

.social-networks > li {
    display: inline;
  }

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 3%;
    color: black;
  }

/* about us html */

#about {
    height: 590px;
    width: 100%;
    overflow: hidden;
  }

#about h2 {
    padding-top: 5%;
    text-align: center;
    font-size: 200%;
  }

#about p {
    font-size: 150%;
    letter-spacing: 3px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 1%;
  }

/* about us MAP */

iframe {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1680px;
    height: 300px; 
    border: 0;
    margin: 0;
  }

/* about us HTML - times */

#times-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    padding-bottom: 30px;
  }

#times {
    width: 100%;
    overflow: hidden;
  }

#times div {
    color: white;
    width: 20%;
    height: 150px;
    float: left;
    padding-top: 15px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
  }

/* Sign Up html */

/* form section */

.form-section {
    padding-top: 70px;
    background: url(../images/from.space.jpg) no-repeat center center;
    clear: left;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    height: 700px;
  }

.signup-form {
    background: rgb(17, 17, 17 ,0.7);
    margin: 100px 25% 25% 25%;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    max-width: 800px;
    padding: 30px;
  }

.signup-form > h2 {
    color: #ffffff;
    margin-bottom: 50px;
  }

.text-input {
    background: transparent;
    color: #f8f8f8;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 10px;
  }

.text-input:hover {
    border-color: rgb(255, 255, 255) 
  }

.join-button {
    margin-top: 40px;
    margin-left: 41%;
    border-radius: 30px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ffffff;
    color: #000000;
    display: block;
  }

.join-button:hover {
    background-color: #fafafa;
    color: #ff0000;
  }

  /* thank you form */

#thankyou {
    height: 830px;
    width: 100%;
    overflow: hidden;
  }
  
#thankyou h1 {
    text-align: center;
    margin: 20%;
  }

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
  #meniu {
    clear: left;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #logo{
    text-align: center;
  }
  
  #text {
    width: 65%;
    height: 700px;
    margin: 0 auto;
  }

  #about {
    width: 65%;
    height: 100%;
    margin: 0 auto;
  }

  #welcome {
    padding: 30px 0;
    margin: 0;
  }

  #left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  #times > div {
    width: 100%;
    clear: both;
    height: 150px;
    padding: 0;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  #logo {
    text-align: center;
  }

  #menu {
    clear: left;
    float: left;
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #text {
    width: 90%;
    height: 700px;
    margin: 0 auto;
  }

  #about {
    width: 65%;
    height: 100%;
    margin: 0 auto;
  }

  .left-about-heading, .right-about-heading {
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  #text {
    width: 65%;
    height: 600px;
    margin: 0 auto;
  }

  #about {
    width: 65%;
    height: 100%;
    margin: 0 auto;
  }

  .signup-form {
    margin: 0;
    padding-top: 20%;
  }

  #menu {
    clear: left;
    float: left;
    text-align: center;
  }

  .btn {
    font-size: 50%;
    width: 80px;
  }
}

@media screen and (max-width: 320px) {

  #text {
    width: 65%;
    height: 800px;
    margin: 0 auto;
  }

  #about {
    width: 65%;
    height: 100%;
    margin: 0 auto;
  }

  #meniu {
    clear: left;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 25px;
  }

  #meniu li {
    margin-right: 6px;
    padding-left: 4px;
  }

  .btn::before, .btn::after{
    float: right;
    height: 10px;
    width: 5px;
  }

  .signup-form {
    margin: 0;
    padding-top: 20%;
  }

  .btn {
    letter-spacing: 0;
    font-size: 50%;
    width: 90px;
  }

  #about p {
    font-size: 90%;
    letter-spacing: 0px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 1%;
  }

  #logo {
    margin-top: 30px;
    margin-left: 0px;
  }
}


  
